* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

#black-label {
    color: black;
}

.custom-navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 120px;
    cursor: pointer;
}

.custom-navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.custom-navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.custom-navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.custom-navbar ul li:hover::after {
    width: 100%;
}

.homepage {
    background-image: url('./assets/background.png');
    height: 100vh;
    width: 100vw;
}

.black {
    background-color: black;
}

.contentCenter {
    text-align: center;
}

.contentCenterSearch {
    display: grid;
    grid-auto-flow: column;
    width: 100px;
    height: 500px;
    background: gray;
}

.media_element {
    margin-right: 150px;
}

.contentCenter div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mail {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.findTitle {
    margin-bottom: 20px;
    font-size: 5em;
    width: 45vw;
}

.custom-button {
    width: 270px;
    height: 70px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.2s;
    font-size: x-large;
    color: white;
}

.custom-button:hover span {
    width: 100%;

}

.custom-button:hover {
    border-color: white;
}